<a href="https://colab.research.google.com/github/marchnineth/python_practice/blob/main/%E2%9C%85Section_2_1_%EA%B8%B0%EB%B3%B8_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85_%EA%B0%9C%EA%B4%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python 기본 데이터 타입**

Python 에서 사용할 수 있는 데이터 타입을 알아보겠습니다.

Python 기본 데이터 타입에는 숫자, 문자, 불리언, None 등이 있습니다.

# **숫자 Numbers**

숫자는 말 그대로 숫자 형태로 이루어진 데이터 타입입니다.

크게 정수형 int 와 실수형 float 로 나누어집니다.

정수형 예시
```
1  
12345  
-534
```
> 
실수형 예시
```
1.0  
3.141592  
10E32
```

In [ ]:
a = 1

In [ ]:
type(a)

int

# **문자 Strings**

문자는 문자로 이루어진 데이터 타입입니다.

큰 따옴표나 작은 따옴표로 감싸 표현합니다.

```
"피카츄", '라이츄', "pokemon"
```

앞서 소개한 것처럼 파이썬에서는 대소문자를 구분하기 때문에 

같은 스펠링이더라도 대소문자가 다르면 다른 문자로 판단합니다.

In [ ]:
pokemon = '피카츄'

In [ ]:
type(pokemon)

str

In [ ]:
'volvo' == 'Volvo'

False

# **불리언 Boolean**

불리언은 `True` `False` 두 가지 값을 가지는 데이터 타입입니다.

True 는 1, False 는 0 으로도 표현됩니다.

In [ ]:
False

True

# **None**

파이썬에는 None 이라는 데이터 타입이 있습니다. 

None 은 값이 없음을 뜻합니다.

숫자 `0` 과는 다른 값이고, Boolean 의 `False` 값과도 다릅니다.

In [ ]:
None == 0

False

In [ ]:
None == False

False

# **형변환, Casting**

데이터 타입을 바꾸어줄 수 있습니다.

예를 들어, 숫자 데이터 타입을 `str( )` 안에 넣어주면 문자 데이터 타입이 됩니다.

In [ ]:
a = 1

In [ ]:
a

1

In [ ]:
type(a)

int

In [ ]:
type(str(a))

str

In [ ]:
type(int('1'))

int

In [ ]:
type(float(1))

float