<a href="https://colab.research.google.com/github/marchnineth/python_practice/blob/main/%E2%9C%85Section_1_4_%EC%97%B0%EC%82%B0%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **연산자**


1.   산술 연산자
2. 할당 연산자/ 복합 할당 연산자
3.   비교 연산자
4. 논리 연산자 
5. 구성원(소속) 연산자

## **1. 산술 연산자 - Arithmetic Operators**



* `+` : 더하기
* `-` : 빼기
* `* `: 곱하기
* `/` : 나누기
* `//` : 정수 몫
* `%`: 나머지

In [ ]:
10 * 3

30

## **2. 할당 연산자/ 복합 할당 연산자 - Assignment operators**


할당 연산자: 변수에 값을 대입할 때 사용


```
변수명 = 값
```

<br>


복합 할당 연산자: 연산과 할당을 합친 연산자

```
 +=
 -=
 *=
 /=
 %=
 **=
 //=
```

In [ ]:
a = 1
b = 2

In [ ]:
# a = a + b
a += b

In [ ]:
a

3

## **3. 비교 연산자 - Comparison operators**

두 값의 크기를 비교할 때 사용되는 연산자

* \>
* <
* \>=
* <=
* ==
* !=

*할당 연산자의 `=` 와 비교 연산자의 `==` 연산이 다르기 때문에 주의를 하면서 사용해야한다*

In [ ]:
2 != 3

True

## **4. 논리 연산자 -  Logical Operators**

```
and
or
not
```

In [ ]:
# and
# True and True = True
# True and False = False

True

In [ ]:
# or
# True or True = True
# True or False = True

True

In [ ]:
not False

True

In [ ]:
a = 2 > 1
b = 3 >= 1

In [ ]:
(2 > 1) and (3 >= 1)

True

## **5. 구성원(소속) 연산자 - Membership Operators**

특정 자료가 해당 컬렉션에 속하는지 혹은 속하지 않는 지 판별하는 연산자

* in: 해당 컬렉션에 속한다 
* not in: 해당 컬렉션에 속하지 않는다.

In [ ]:
car_brands = ['volvo', 'kia']

In [ ]:
'현대' not in car_brands

True

# 참고자료
- [회오리 파이썬 연산자](https://tensorflow.blog/%ed%9a%8c%ec%98%a4%eb%a6%ac%eb%b0%94%eb%9e%8c%ec%9d%84-%ed%83%84-%ed%8c%8c%ec%9d%b4%ec%8d%ac/%ed%8c%8c%ec%9d%b4%ec%8d%ac-%ec%97%b0%ec%82%b0%ec%9e%90/)
- [w3school Python Operators](https://www.w3schools.com/python/python_operators.asp)